/**
 * Base style to affect HTML elements on a general scale.
 */
@bgColorHtml: #424242;
@bgColorBody: #fff;
@colorBody: #333;
// @fontFamilyBody: serif;

// GLOBAL
html {
    overflow-y: scroll;
    background-color: @bgColorHtml;
}

body {
    margin: 0;
    padding: 0;
    color: @colorBody;
    background-color: @bgColorBody;
    // Activate the grid base font
    #desinax-hgrid.font(@fontSizeBody);
    // font: 100.01%/1 @fontFamilyBody;
}

.site-logo {
    display: none;
}

.site-logo-text > a {
    color: grey;
    // font-size: 40px;
    text-decoration: none;
}

.next-previous {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    // margin-bottom: 15px;
}

// BREADCRUMB
.breadcrumb-list {
    border-bottom: black 1px solid;
}

.breadcrumb-list > ul {
    display: flex;
    list-style-type: none;
}

.breadcrumb-list > ul > li > a {
    text-decoration: none;
}

.breadcrumb-list li:not(:last-child):after {
    content: " \2192 \00a0";
}

.stylechooser select {
    width: 100%;
}

// SIDEBAR
.block.toc {
    border-right: black 1px solid;
}
.toc ul {
    list-style-type: none;
    text-decoration: none;
}

// Activate grid and affect all typographic elements
#desinax-hgrid.activateDefaultTypography();

@media screen and (max-width: 920px) {
    .block.toc {
        border-right: 0;
    }
}
