/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Poor-mans normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chivo", sans-serif;
}
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
@font-face {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(https://fonts.gstatic.com/s/juliussansone/v8/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsS.ttf) format('truetype');
}
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Chivo Regular'), local('Chivo-Regular'), url(https://fonts.gstatic.com/s/chivo/v11/va9I4kzIxd1KFrBoQeY.ttf) format('truetype');
}
/* font-family: 'Julius Sans One', sans-serif; */
/* ALL */
.outer-wrap-main {
  min-height: calc(100vh - 130px);
}
.inner-wrap-main {
  margin: 0 10px;
}
.outer-wrap {
  width: 1000px;
  margin: 0 auto;
}
/* HEADER */
.site-logo {
  display: none;
}
.region-header-col-3 {
  display: none;
}
/* NAVBAR */
.my-navbar {
  margin-left: auto;
  display: flex;
  font-family: "Julius Sans One", sans-serif;
  list-style-type: none;
}
.my-navbar > li > a {
  text-decoration: none;
  color: white;
  /* padding-top: 10px; */
  margin-right: 15px;
  font-size: 26px;
  transition: all 0.2s ease-in-out;
}
.my-navbar > li > a:hover {
  /* transform: translateX(-200px); */
  color: #969696;
}
.site-logo-text > a {
  color: grey;
  font-size: 40px;
  text-decoration: none;
}
/* FOOTER */
.outer-wrap-footer {
  width: 100vw;
  background-color: #d1d1d1;
}
.inner-wrap-footer {
  width: 1000px;
  margin: 0 auto;
  color: #1b1b1b;
}
.footer-column-wrapper {
  display: flex;
}
.footer-column {
  margin: 20px;
}
.footer-column p {
  font-size: 16px;
}
.site-footer {
  text-align: end;
}
.site-footer > p {
  font-size: 14px;
}
.region-main > h1,
.region-main > p {
  margin-top: 20px;
  text-align: center;
}
.region-main > .stylechooser {
  margin: 25px auto 0;
  width: 70%;
}
.region-main > .stylechooser > fieldset {
  padding: 30px;
}
.region-main .stylechooser label {
  text-align: center;
}
p {
  font-size: 20px;
}
/* SIDEBAR */
.region-sidebar-left {
  border-right: black 1px solid;
  padding-right: 20px;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  /* width: 33%; */
}
.region-sidebar-left ul > li {
  list-style-type: none;
}
.region-sidebar-left ul > li > a {
  text-decoration: none;
}
.article > p {
  margin: 30px 0;
}
.next-previous {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 15px;
}
/* BREADCRUMB */
.breadcrumb-list {
  /* background-color: azure; */
  margin-top: 5px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: black 1px solid;
}
.breadcrumb-list > ul {
  display: flex;
  list-style-type: none;
}
.breadcrumb-list > ul > li > a {
  text-decoration: none;
}
.breadcrumb-list li:not(:last-child):after {
  content: " \2192 \00a0";
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #424242;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font: 100.01%/1 serif;
}
p {
  font-size: 20px;
}
.site-logo {
  display: none;
}
.site-logo-text > a {
  color: grey;
  font-size: 40px;
  text-decoration: none;
}
.next-previous {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 15px;
}
.breadcrumb-list {
  /* background-color: azure; */
  border-bottom: black 1px solid;
}
.breadcrumb-list > ul {
  display: flex;
  list-style-type: none;
}
.breadcrumb-list > ul > li > a {
  text-decoration: none;
}
.breadcrumb-list li:not(:last-child):after {
  content: " \2192 \00a0";
}
.inner-wrap-main .row {
  display: flex;
}
.inner-wrap-main .row .toc {
  padding: 0;
}
.inner-wrap-main .row ul {
  white-space: nowrap;
  list-style-type: none;
}
.inner-wrap-main .row ul li > a {
  text-decoration: none;
}
.inner-wrap-main .row .region-sidebar-left,
.inner-wrap-main .row .region-sidebar-left {
  border-right: black 1px solid;
  margin-bottom: 15px;
}
.inner-wrap-main .row .region-sidebar-left {
  padding: 0 20px 0 0;
  margin-right: 2%;
  height: 1%;
}
.inner-wrap-main .row .region-sidebar-right {
  border-left: black 1px solid;
  flex: 0 0 25%;
  padding: 0 0 0 25px;
  height: 1%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.outer-wrap {
  width: 1000px;
  margin: 0 auto;
}
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
.outer-wrap-main {
  min-height: calc(100vh - 130px);
}
.outer-wrap-header {
  width: 100vw;
  background-color: black;
}
.outer-wrap-header .inner-wrap-header {
  width: 1000px;
  margin: auto;
}
.outer-wrap-header .inner-wrap-header .region-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.my-navbar {
  margin-left: auto;
  display: flex;
  font-family: serif;
  list-style-type: none;
}
.my-navbar > li > a {
  text-decoration: none;
  color: white;
  /* padding-top: 10px; */
  margin-right: 15px;
  font-size: 26px;
  transition: all 0.2s ease-in-out;
}
.my-navbar > li > a:hover {
  /* transform: translateX(-200px); */
  color: #969696;
}
.rm-submenu-button ~ ul > li {
  background-color: black;
  color: white;
}
.outer-wrap-footer {
  width: 100vw;
  background-color: #d1d1d1;
}
.outer-wrap-footer .inner-wrap-footer {
  width: 1000px;
  margin: 0 auto;
  color: #1b1b1b;
}
.outer-wrap-footer .footer-column-wrapper {
  display: flex;
}
.outer-wrap-footer .footer-column {
  margin: 20px;
}
.outer-wrap-footer .footer-column p {
  font-size: 16px;
}
.outer-wrap-footer .site-footer {
  text-align: end;
}
.outer-wrap-footer .site-footer > p {
  font-size: 14px;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
/**
  * Navbar
  */
@media screen and (max-width: 1011px) {
  .region-flash > img {
    width: 100%;
  }
  .outer-wrap-header .inner-wrap-header {
    width: 100%;
  }
  .outer-wrap-footer .inner-wrap-footer {
    width: 100%;
  }
  .my-navbar > li > a {
    margin-right: 10px;
    font-size: 18px;
  }
  .outer-wrap {
    width: 100%;
  }
}
@media screen and (max-width: 740px) {
  .rm-desktop {
    display: none;
  }
  .footer-column-wrapper {
    flex-direction: column;
  }
  .footer-column-wrapper .footer-column {
    margin: 0 5px;
    font-size: 20px;
  }
  .outer-wrap-header .inner-wrap-header .region-header {
    flex-direction: column;
  }
  .row {
    flex-direction: column;
  }
  .row .wrap-sidebar {
    text-align: center;
    border: 0;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
